* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@media only screen and (min-width: 992px) {
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(48, 47, 47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
}
p {
    list-style: none;
    font-size:150%;
    font-style: inherit;
    color: white;
    font-family: 'Abril Fatface', cursive;

}
a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Akaya Telivigala', cursive;
    
}
.menu-btn_burger {
    display: none;
}
.menu-btn {
    width: 50%;
    list-style: none;
    color: white;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
 
}
.menu a:hover
{
  color: rgb(225, 65, 65);
}

#img1 {
    width: 110px;
    height: 30px;
}
.logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.logo2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 240px;
    width: 15%;
    

}
#page1 {
   
    position: absolute;
    height: 900px;
    width: 100%;
    background-image: url("image/wallpaper-image-nourriture-japon-04-1024x660.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 60s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;


    -moz-animation-name: diapo1;
    -moz-animation-duration: 60s;
    -moz-animation-timing-function:ease;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: diapo1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@-webkit-keyframes diapo1 {
    0%{background-image: url("image/689078.jpg");}
    15%{background-image: url("image/wallpaper-image-nourriture-japon-17-1024x759.jpg");}
    33%{background-image: url("image/683028.jpg");}
    45%{background-image: url("image/wallpaper-image-nourriture-japon-17-1024x759.jpg");}
    66%{background-image: url("image/wallpaper-image-nourriture-japon-17-1024x759.jpg");}
    75%{background-image: url("image/demo\ figma\ 8.jpg");}
}

    
#text {
    z-index: 3;
    margin-top: 510px;
    margin-left: 100px;
    position: relative;
    height: 161px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: black;
    background-color: rgba(0, 0, 0, 0.336);
    font-family: 'Akaya Telivigala', cursive;
}
#vers {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: fantasy;
    padding: 10px;
    margin-left: 240px;
    margin-top: 10px;
}
}
@media only screen and (max-width: 600px) {
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
    visibility: hidden;
}
.logo
.logo2 {
    display: none;
}

.menu.hidden {
  display: none;
  list-style: none;
  
}
.menu li a {
    list-style: none;
    text-decoration: none;
    color: white;
    display: none;
}

.menu-btn {
    visibility: visible;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid white;
}
.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate( 35px, 35px);
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate( 35px, -35px);
}
body {
    position: relative;
    background-image: url("http://www.cyrilalmeras.com/event/2006/04-japon/IM6CA_-0857-korakuen-japonese-garden-red-bridge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
}